<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h1>Welcome to Project Bank</h1>
    <h1>Password Reset</h1>
    <p>Your password has been reset.</p>
    <p>Your new password is: <%= @new_password %></p>
    <p>Please login with your new password and change it immediately.</p>
    <p> Regards</p>
    <p> Isaac Tonyloi, CTO</p>



  </body>
</html>
